html,
body {
  /*height: 60%;*/
  background-image: url('https://cdn.pixabay.com/photo/2021/01/21/16/49/books-5937823_1280.jpg'); /* Cambia 'ruta/a/la/imagen.jpg' a la ruta de tu imagen */
  background-size: cover; /* Para cubrir todo el fondo */

}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
